<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nyandu/style.css' %}">
    <title>{% block title %}Nyandü{% endblock %}</title>
    <link rel="icon" href="{% static  'nyandu/icon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'nyandu/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'principal'%}"><img src="{% static 'nyandu/icon.png'%}" alt="logo-nyandu" style="height: 100px; margin: 0;"></a>
            <h2 class="text-center">Nyandü</h2>

            <div id="us_side">
                {% if user.is_authenticated %}
                <ul class="nav flex-column">
                    <li class="nav-item">Usuario: {{ user.get_username }}</li>
                    <li class="nav-item"><form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Cerrar Sesión</button></a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}">Iniciar sesión</a></li>
                {% endif %}
                    <li class="nav-item"><a href="mailto:2279@ifts24.edu.ar">¿Ayuda?</a></li>
                </ul>
            </div>


            </div>
        </nav>

        {% block content %}{% endblock %}
    <footer style= "position: absolute; bottom: 0;">
        <p>&copy; BACode MMXXIV</p>
    </footer>
</body>
</html>