{% extends "nyandu/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'nyandu/style.css' %}">
<div>
    <h1>Reporte de Vuelos</h1>
    {% if vuelo_list %}
    <ul>

      {% for vuelo in vuelo_list %}
      <li>
        <a href="{{vuelo.id}}">{{ vuelo }}</a> <a href="{% url 'vuelo-update' vuelo.id %}">--Editar--</a> <a href="{%url 'vuelo-delete' vuelo.id  %}">--Borrar--</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay vuelos registrados.</p>
    {% endif %}

    <a href="{% url 'vuelo-create'%}">Crear un nuevo vuelo</a>

</div>
{% endblock %}